<%= render('layouts/errors', :object => @lesson) %>

<%= form_for [@section, @lesson] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <p><%= f.submit %></p>
<% end %>
